header {
    left: 10vw;
    position: fixed;
    width: 80vw;
    height: 117px;
    top: 39px;
    background-color: #00000099;
    border-radius: 15px;
    display: flex;
    backdrop-filter: blur(5px);
    /* padding: 10px 10px; */
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 500px;
    /* color: green; */
}

.nav a {
    font-family: "AnekMalayalam-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.logo {
    width: 180px;
    height: 100px;
    /* top: 10000px; */
    left: 48px;
}

.towns {
    background-color: #11235a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.div {
    background-color: #11235a;
    width: 1440px;
    height: 2258px;
    position: relative;
}

.town1 {
    position: absolute;
    width: 1246px;
    height: 487px;
    top: 261px;
    left: 97px;
    background-color: #818fb4;
    border-radius: 47px;
    border: 10px solid;
    border-color: #ffd465;
}
  
  .container-group-wrapper {
    position: absolute;
    width: 521px;
    height: 295px;
    top: 106px;
    left: 52px;
}
  
  .container-group-3 {
    position: relative;
    height: 295px;
}
  
  .rectangle {
    top: 7px;
    left: 0;
    background-color: #4d5f90;
    position: absolute;
    width: 514px;
    height: 288px;
}
  
  .img {
    top: 0;
    left: 7px;
    object-fit: cover;
    position: absolute;
    width: 514px;
    height: 288px;
}
  
  .town1-title {
    position: absolute;
    top: 25px;
    left: 70px;
    font-family: "Iceberg-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    text-align: center;
}
  
  .lorem-ipsum-dolor {
    position: absolute;
    width: 581px;
    height: 300px;
    top: 85px;
    left: 613px;
    font-family: "Nanum Myeongjo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;

}
  
  .town2 {
    position: absolute;
    width: 1246px;
    height: 487px;
    top: 854px;
    left: 97px;
    background-color: #818fb4;
    border-radius: 47px;
    border: 10px solid;
    border-color: #ffd465;
}
  
  .town2-title {
    left: 90px;
    position: absolute;
    top: 25px;
    font-family: "Iceberg-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    text-align: center;
}
  
  .towntext {
    position: absolute;
    width: 581px;
    height: 360px;
    top: 55px;
    left: 613px;
    font-family: "Nanum Myeongjo", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;

}
  
  .town3 {
    position: absolute;
    width: 1246px;
    height: 487px;
    top: 1447px;
    left: 97px;
    background-color: #818fb4;
    border-radius: 47px;
    border: 10px solid;
    border-color: #ffd465;
}
  
  .town3-title {
    left: 73px;
    position: absolute;
    top: 25px;
    font-family: "Iceberg-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    text-align: center;
}

.footer {
    position: absolute;
    /* left:0; */
    width: 100vw;
    height: 218px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction:column;
    background-color: black;
}

.footer .container {
    display: flex;
    /* margin: 40px; */
    justify-content: space-between;

}

.footer .icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.footer .icon {
    height: 50px;
    width: 50px;
}